.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding: 0px;
    text-align: center;
}

.h1 {
    color: white;
}

.content {
    font-family: roboto;
    background-color: #1f2937;
}

.footer {
    font-family: roboto;
    background-color: #1f2937;
    padding: 10px;
    margin-top: 10px;
}

.button {
    
}

